* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: #966FD6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: #fdfdfd;
  width: 600px;
  height: 380px;
  padding: 50px 40px;
  border-radius: 24px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  position: relative;
}


.emoji {
  font-size: 60px;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 30px;
  color: #222;
}

.buttons {
  position: relative;
  height: 80px;
}

button {
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
}

#yes {
  background: #966FD6;
  color: white;
  left: 90px;
  padding: 16px 42px;     /* bigger button */
  font-size: 18px;        /* larger text */
  font-weight: 600;
  transform: scale(1.05); /* subtle emphasis */
}
#yes:hover {
  transform: scale(1.12);
  transition: 0.2s ease;
}


#no {
  background: #e0e0e0;
  color: #333;
  left: 220px;
}

.hint {
  margin-top: 60px;
  font-size: 14px;
  color: #666;
}
